<%= form_for(@assessment) do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_area :subtitle, :rows => 5, :cols => 40 %>
  </div>
  <div class="sections">
    <div class="section-edit-list">
      <%= f.fields_for :sections do |section| %>
        <%= render 'section_fields', :f => section %>
      <% end %>
      <%= link_to_add_association 'add section', f, :sections, {
        'data-association-insertion-method' => 'append',
        'data-association-insertion-node' => '.section-edit-list' } %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
