<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assessment.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @assessment.subtitle %>
</p>

<ul class="question-list">
  <% @assessment.questions.each do |question| %>
    <li class="question">
      <span class="question-text"><%= question.text %></span>
      <span class="question-more-info"><%= question.more_info %></span>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
