<p id="notice"><%= notice %></p>

<p>
  <strong>Response:</strong>
  <%= @answer.response_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @answer.value %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
