<div class="row answer-form">
  <div class="col-md-5 nested-field question <%= 'more' if f.object.question.has_more? %>">
    <span class="question-number"><%= f.object.question.order %>.</span>
    <%= f.object.question.rendered_text.nil? ? f.object.question.text : f.object.question.rendered_text.html_safe %>

    <div class="question-more">
      <%= f.object.question.rendered_info.nil? ? f.object.question.more_info : f.object.question.rendered_info.html_safe %>
    </div>
    <% if f.object.question.has_more? %>
      <span class="question-more-arrow glyphicon glyphicon-chevron-right"></span>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-1 nested-field answer-value">
    <div class="btn-group value-buttons" data-toggle="buttons">
      <label class="btn btn-default answer-button yes <%= 'active' if f.object.value == '0' %>">
          <%= f.radio_button :value, 0 %>Yes
      </label>
      <label class="btn btn-default answer-button no <%= 'active' if f.object.value == '1' %>">
          <%= f.radio_button :value, 1 %>No
      </label>
      <label class="btn btn-default answer-button unknown <%= 'active' if f.object.value == '2' %>">
          <%= f.radio_button :value, 2 %>I don't know
      </label>
    </div>
    <div class="source-field">
      <%= f.text_field :source, :class => 'form-control source-input', :placeholder => 'Source (optional)' %>
    </div>
  </div>
  <%= f.hidden_field :question_id %>
</div>
