<li class="row answer-form">
  <div class="col-md-4 nested-field question">
    <%= f.object.question.text %>
    <span class="caret"></span>
    <div class="question-more">
      <%= f.object.question.more_info %>
    </div>
  </div>
  <div class="col-md-4 nested-field answer-value">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default answer-button yes <%= 'active' if f.object.value == '0' %>">
          <%= f.radio_button :value, 0 %>Yes
      </label>
      <label class="btn btn-default answer-button no <%= 'active' if f.object.value == '0' %>">
          <%= f.radio_button :value, 1 %>No
      </label>
      <label class="btn btn-default answer-button unknown <%= 'active' if f.object.value == '0' %>">
          <%= f.radio_button :value, 0 %>I don't know
      </label>
    </div>
  </div>
  <div class="nested-field answer-source col-md-4">
    <%= f.text_field :source, :class => 'form-control', :placeholder => 'Source (optional)' %>
  </div>
  <%= f.hidden_field :question_id %>
</li>
