<li class="row answer-form">
  <div class="col-md-4 nested-field question">
    <%= f.object.question.text %>
    <span class="caret"></span>
    <div class="question-more">
      <%= f.object.question.more_info %>
    </div>
  </div>
  <div class="col-md-4 nested-field answer-value">
    <div class="btn-group" data-toggle="buttons">
      <% ['Yes', 'No', 'I don\'t know'].each_with_index do |val, index| %>
        <label class="btn btn-default
        <%= 'active' if f.object.value == index.to_s %>">

          <%= f.radio_button :value, index %>
          <%= val %>
        </label>
      <% end %>
    </div>
  </div>
  <div class="nested-field answer-source col-md-4">
    <%= f.label :source, 'Source (optional)', :class => 'optional' %>
    <%= f.text_field :source %>
  </div>
  <%= f.hidden_field :question_id %>
</li>
