<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="answers">
    <ul class="answer-list">
      <%= f.fields_for :answers do |answer| %>
        <%= render :partial => 'responses/answer_fields', locals: { :f => answer } %>
      <% end %>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
