<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @response.email %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @response.ip %>
</p>

<p>
  <strong>Location:</strong>
  <%= @response.location %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
