<div class="hero-image protest">
  <h1><%= @response.assessment.title %></h1>
</div>

<div class="container show-response">
  <div class="report-card">
    <div class="report-card-header">
      <h4><%= @response.city || '' %> Police Report Card</h4>
      <%= image_tag '/assets/images/logo.jpg', :class => 'logo' %><h4 class="logo-header">#CheckThePolice</h4>
    </div>
    <div class="report-card-content">
      <div class="report-card-left-column">
        <div class="report-card-grade">
          <%= @response.get_overall_grade %>
        </div>
        <%= render :partial => 'edit_button', :locals => { :r => @response } %>
      </div>
      <div class="report-card-text">
        <table>
          <% @response.assessment.sections.each do |section| %>
            <tr class="report-card-section-row">
              <td class="report-card-section-title">
                <a class="report-card-section-link" href="#<%= id_for_section(section) %>">
                  <%= section.title %>
                </a>
              </td>
              <td class="report-card-section-grade">
                <%= @response.get_grade_for_section(section) %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="control-bar clearfix no-print">
    <div class="pull-left vmiddle social-buttons">
      <%= render :partial => 'social/facebook_share' %>
      <%= render :partial => 'social/twitter_share', :locals => { :text => @response.city + ' Policing Report Card #CheckThePolice'} %>
    </div>
  </div>

  <% @response.assessment.sections.each do |section| %>
    <div class="section" id="<%= id_for_section(section) %>">
      <div class="section-title">
        <%= section.title %>
      </div>
      <div class="answers">
        <% @response.answers_for_section(section).each do |answer| %>
          <div class="answer row">
            <div class="col-md-5 question <%= 'more' if answer.question.has_more? %>">
              <span class="question-number"><%= answer.question.order %>.</span>
              <%= answer.question.get_text %>
              <% if answer.question.has_more? %>
                <a class="more-info">(click for more info)</a>
              <% end %>
              <div class="question-more">
                <%= answer.question.get_more %>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1 nested-field answer-value text-left">
              <% if answer.value == '0' %>
                <span class="<%= answer.question.good_answer == '0' ? 'good' : 'bad' %>">Yes</span>
              <% elsif answer.value == '1' %>
                <span class="<%= answer.question.good_answer == '1' ? 'good' : 'bad' %>">No</span>
              <% elsif answer.value == '2' %>
                <span class="unknown">I don't know</span>
              <% else %>
                <span class="unknown">No response</span>
              <% end %>
              <% if answer.source != '' %>
                <div class="source">
                  Source: <%= answer.source %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
