<!DOCTYPE html>
<html>
<head>
  <title>Policing Policy Assessment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
  <% @layout[:og].each do |key, value| %>
    <meta property="og:<%= key %>" content="<%= value %>" />
  <% end %>
</head>
<body>

<%= yield %>

<% if @layout[:bootstrap] %>
  <script type="text/javascript">
    bootstrapData = <%=raw @layout[:bootstrap] %>;
  </script>
<% end %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62757746-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
